<h1>My Goals</h1>
<div class="container">

    <div class="row">
        <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>

</div>
<hr>

<ul>
    <div *ngFor='let goal of goals;let i = index'>
      <li  id="{{i}}">{{goal.name}} due on {{goal.completeDate|date}}</li>
        <!-- <button  (click)='toogleDetails(i)'>Toogle Details</button> -->

        <app-goal-details  [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
    </div>
</ul>
  <p *ngIf='goals.length > 5'>You have too many goals</p>
