<h1>My Goals</h1>
<div class="container">


          <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>

<hr>

      <div *ngFor='let goal of goals;let i = index'>
        <h5  id="{{i}}">{{goal.name}} due on {{goal.completeDate|date}}</h5>
          <!-- <button  (click)='toogleDetails(i)'>Toogle Details</button> -->

          <app-goal-details  [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
      </div>


  <p *ngIf='goals.length > 5'>You have too many goals</p>

</div>
